/*

TABLE OF CONTENTS

  0. Variables
  1. Global styles
  2. Hero
  3. Navigation
  4. Trips
  5. CTA
  6. Team
  7. Problem
    7a. Actions
  8. Gallery
  9. Footer
    9a. Contact
    9b. Connect
  10. Media Queries
    10a. Media Query, (min-width: 700px)
      10a-i. Hero
      10a-ii. Navigation, Large screen
      10a-iii. Trips, Large screen
      10a-iv. CTA summaries, Large screen rules
      10a-v. Team, Large screen rules
      10a-vi. Problem
      10a-vii. Actions
      10a-viii. Footer
    10b. Media Query, (min-width: 1000px)
    10c. Feature Query

*/

/* 
===========
Variables
===========
 */

:root {
  /* font colors being used */
  --primaryFontColor: #5dd39e;
  --mainBlack: #222;
  --offWhite: #f7f7f7;
  /* end of font colors being used*/

  /* background colors being used*/
  --mainWhite: #fff;
  --secondaryGrey: #e5e5e5;
  --anotherBrownColor: #605856;
  /* end of background colors being used*/

  /* colors not being used */
  --darkGrey: #afafaf;
  --anotherGrey: #d0ccd0;
  --anotherWhite: #fbfcff;
  --secondaryBlack: #36393b;
  --secondaryColor: #04724d;
  --secondaryBrownColor: #bfb6bb;

  /* box shadow css */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1rem;
}

/* 
===========
End of Variables
===========
 */

/* ############ 1. Global Styles ############ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}

a {
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}

p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
  padding: 1rem;
}

/* ############ 2. Hero ############ */

/* ############ 3. Navigation ############ */

.navbar {
  background: var(--anotherBrownColor);
  padding: 0 2rem;
}

.nav-links {
  text-transform: capitalize;
  padding: 1rem 0;
}

.nav-links a {
  display: block;
  color: var(--primaryFontColor);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

.nav-links a:hover {
  color: var(--offWhite);
}

.nav-links .nav-icon {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-links {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.3fr 0.3fr 0.3fr;
  }
  .nav-links .nav-icon {
    display: block;
    align-items: var(--dark-shadow);
    align-self: center;
  }
}

/* ############ 4. Header ############ */

#myheader {
  background: var(--mainWhite);
  border: 2px solid red;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ############ 5. About Me ############ */

.myArticle {
  min-height: 100vh;
  border: 3px solid red;
  background-color: var(--anotherBrownColor);
  color: var(--primaryFontColor);
}

.articleHeading {
  border: 3px solid green;
  height: 25%;
  color: var(--offWhite);
}

.articleP {
  height: 25%;
  border: 3px solid orange;
}

/* ############ 6. Projects ############ */

.title {
  text-align: center;
}

.cards {
  padding: 4rem 0;
}

.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}

.card {
  border: 1px solid darkgray;
  margin-bottom: 3rem;
}

.card-info {
  padding: 1rem;
}

.card-footer {
  background: darkgray;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.card-footer span {
  color: green;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.cards-center {
  display: grid;
  gap: 0 2rem;
  /* 3 column layout */
  /* grid-template-columns: repeat(auto-fit, minmax(368px, 1fr)); */
  /* 4 column layout */
  grid-template-columns: repeat(auto-fit, minmax(268.5px, 1fr));
}

/* ############ 7. Problem ############ */

/* ############ 7a. Problem > Action ############ */

/* ############ 8. Gallery ############ */

/* ######### 9. Footer ######### */

/* ######### 9a. Footer > Contact ######### */

/* ######### Contact Form ######### */

/* ######### 9b. Footer > Connect ######### */

/* ############ 10. Media Queries ############ */

/* ############ 10a. Media Query, (min-width: 700px) ############ */

/* ######### 10a-i. HERO, Large screen rules ######### */

/* ######### 10a-ii. Navigation, Large screen rules ######### */

/* ######### 10a-iii. Trips, Large screen rules ######### */

/* ######### 10a-iv. CTA summaries, Large screen rules ######### */

/* ######### 10a-v. Team, Large screen rules ######### */

/* ######### 10a-vi. Problem, Large screen rules ######### */

/* ######### 10a-vii. Actions, Large screen rules ######### */

/* ######### 10a-viii. Footer, Large screen rules ######### */

/* ############ 10b. Media Query, (min-width: 1000px) ############ */

/* ######### 10b-i. Footer, X-Large screen rules ######### */

/* ############ 10c. Feature Query ############ */
/* SAFARI 11+ */
