/*

TABLE OF CONTENTS

  1. Global styles
  2. Hero
  3. Navigation
  4. Trips
  5. CTA
  6. Team
  7. Problem
    7a. Actions
  8. Gallery
  9. Footer
    9a. Contact
    9b. Connect
  10. Media Queries
    10a. Media Query, (min-width: 700px)
      10a-i. Hero
      10a-ii. Navigation, Large screen
      10a-iii. Trips, Large screen
      10a-iv. CTA summaries, Large screen rules
      10a-v. Team, Large screen rules
      10a-vi. Problem
      10a-vii. Actions
      10a-viii. Footer
    10b. Media Query, (min-width: 1000px)
    10c. Feature Query

*/

/* ############ 1. Global Styles ############ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222;
}

/* ############ 2. Hero ############ */

/* ############ 3. Navigation ############ */

nav {
  height: 5rem;
  padding: 0 2rem;
  background: rgb(104, 83, 83);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: ;
}

h2 {
  margin-bottom: 0;
  color: #222369;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 0 1rem;
  list-style: none;
}

.nav-link {
  text-transform: capitalize;
  color: #222;
  font-size: 1.25rem;
}

/* ############ 4. Header ############ */

header {
  background: #f3f3f3;
  border: 2px solid red;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ############ 5. About Me ############ */

.myArticle {
  min-height: 100vh;
  border: 3px solid red;
  background-color: #f3f3d3;
}

.articleHeading {
  border: 2px solid green;
  height: 25%;
}

.articleP {
  height: 25%;
  border: 3px solid orange;
}

/* ############ 6. Projects ############ */

.myProjects {
  background: #bab1d7;
  border: 5px solid green;
  display: grid;
  grid-template: 100px 1fr / 1fr 4fr 1fr;
  gap: 10px;
}

.projectHeader {
  height: 100px;
  background-color: #222369;
  color: #f3f3f3;
  border: 4px dashed yellow;
  grid-column: 1/4;
}

#projectHeaders1 {
  height: 60px;
  background-color: #318d51;
  color: #f3f3f3;
  border: 4px solid red;
  grid-row: 2;
  grid-column-start: 2;
}
#projectHeaders2 {
  height: 60px;
  background-color: #732681;
  color: #f3f3f3;
  border: 4px dashed green;
  grid-row: 4;
  grid-column-start: 2;
}
#projectHeaders3 {
  height: 60px;
  background-color: #855426;
  color: #f3f3f3;
  border: 4px solid black;
  grid-row: 6;
  grid-column-start: 2;
}

#projectP1 {
  height: 80px;
  background: #f3f3f3;
  grid-row: 3;
  grid-column-start: 2;
}
#projectP2 {
  height: 80px;
  background: #f3f3f3;
  grid-row: 5;
  grid-column-start: 2;
}
#projectP3 {
  height: 80px;
  background: #f3f3f3;
  grid-row: 7;
  grid-column-start: 2;
}

/* ############ 7. Problem ############ */

/* ############ 7a. Problem > Action ############ */

/* ############ 8. Gallery ############ */

/* ######### 9. Footer ######### */

/* ######### 9a. Footer > Contact ######### */

/* ######### Contact Form ######### */

/* ######### 9b. Footer > Connect ######### */

/* ############ 10. Media Queries ############ */

/* ############ 10a. Media Query, (min-width: 700px) ############ */

/* ######### 10a-i. HERO, Large screen rules ######### */

/* ######### 10a-ii. Navigation, Large screen rules ######### */

/* ######### 10a-iii. Trips, Large screen rules ######### */

/* ######### 10a-iv. CTA summaries, Large screen rules ######### */

/* ######### 10a-v. Team, Large screen rules ######### */

/* ######### 10a-vi. Problem, Large screen rules ######### */

/* ######### 10a-vii. Actions, Large screen rules ######### */

/* ######### 10a-viii. Footer, Large screen rules ######### */

/* ############ 10b. Media Query, (min-width: 1000px) ############ */

/* ######### 10b-i. Footer, X-Large screen rules ######### */

/* ############ 10c. Feature Query ############ */
/* SAFARI 11+ */
