/* 










*/

/* Global Styling */

body {
  font-family: 'Readex Pro', sans-serif;
}

h2 {
  font-family: 'BhuTuka Expanded One', cursive;
  /* font-family: 'Island Moments', cursive; */
}

/*---------------- End Global Styling  ---------------------------------------------*/

/* ---------------------------- Page Start / Title ------------------- */
#pageStart {
  background-color: #757761;
  height: 100px;
}
#titleStart {
  color: #085903;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Island Moments', cursive;
}

/*------------------------------ End of Page Start / Title -----------------------*/

/*-------------------- Navigation Bar Styling ------------------*/

nav {
  /* border: 1px solid red; */
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

nav li {
  background-color: #81f499;
  border-radius: 3%;
}

nav li:hover {
}

nav a {
  color: #1b1725;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  padding: 0.5rem 1rem;
  /* border: 1px solid red; */
}

nav a:focus {
  background-color: aliceblue;
  color: black;
}

nav a:hover {
  color: #1b1725;
  background-color: #bdf4c9;
}

/* --------------------End Of Nav Bar -------------------------- */

.headerPage {
  background-color: #81f499;
  margin: 0 auto;
}

#logo {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

/*---------- About Article -----------*/

.artAbout {
  background-color: #bfb6bb;
  border: 2px solid red;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.artAbout h2 {
  display: flex;
  border: 2px solid yellow;
  width: 40%;
  justify-content: center;
  margin: 0;
  font-family: 'Island Moments', cursive;
  font-size: 50px;
}

.artAbout p {
  border: 2px solid red;
  flex-grow: 1;
  padding: 3rem 2.5rem;
  margin: 0;
  color: #157145;
  font-family: 'Readex Pro', sans-serif;
}

/*---------- End About Article -----------*/

/*--------------------- Philosophy Article -----------------------*/

.artPhilo {
  background-color: #bfb6bb;
  border: 2px solid red;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*--------------------- End of Philosophy Article -----------------------*/
