/* 










*/

/* Global Styling */

body {
  font-family: 'Readex Pro', sans-serif;
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
}

h2 {
  font-family: 'BhuTuka Expanded One', cursive;
  /* font-family: 'Island Moments', cursive; */
}

/*---------------- End Global Styling  ---------------------------------------------*/

/* ---------------------------- Page Start / Title ------------------- */
#pageStart {
  background-color: #757761;
  height: 100px;
}
#titleStart {
  color: #085903;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
}

/*------------------------------ End of Page Start / Title -----------------------*/

/*-------------------- Navigation Bar Styling ------------------*/

nav {
  /* border: 1px solid red; */
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

nav li {
  background-color: #81f499;
  border-radius: 3%;
}

nav li:hover {
}

nav a {
  color: #1b1725;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  padding: 0.5rem 1rem;
  /* border: 1px solid red; */
}

nav a:focus {
  background-color: aliceblue;
  color: black;
}

nav a:hover {
  color: #1b1725;
  background-color: #bdf4c9;
}

/* --------------------End Of Nav Bar -------------------------- */

.headerPage {
  /* background-color: #81f499; */
  margin: 0 auto;
}

#logo {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

/*---------- About Article -----------*/

.artAbout {
  /* background-color: #bfb6bb; */
  border: 2px solid red;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.artAbout h2 {
  display: flex;
  border: 2px solid yellow;
  width: 40%;
  justify-content: center;
  margin: 0;
  font-family: 'Island Moments', cursive;
  font-size: 50px;
}

.artAbout p {
  border: 2px solid red;
  flex-grow: 1;
  padding: 3rem 2.5rem;
  margin: 0;
  color: #157145;
}

/*---------- End About Article -----------*/

/*--------------------- Philosophy Article -----------------------*/

.artPhilo {
  /* background-color: #bfb6bb; */
  border: 2px solid red;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.artPhilo h2 {
  display: flex;
  border: 2px solid yellow;
  width: 40%;
  justify-content: center;
  margin: 0;
  font-family: 'Island Moments', cursive;
  font-size: 50px;
}

.artPhilo p {
  border: 2px solid red;
  flex-grow: 1;
  padding: 3rem 2.5rem;
  margin: 0;
  color: #157145;
}

/*--------------------- End of Philosophy Article -----------------------*/

/*---------------------- Community info section  -------------------------*/

.artCommunity {
  /* background-color: #bfb6bb; */
  border: 2px solid red;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.artCommunity h2 {
  display: flex;
  border: 2px solid yellow;
  width: 40%;
  justify-content: center;
  margin: 0;
  font-family: 'Island Moments', cursive;
  font-size: 50px;
}

.artCommunity p {
  border: 2px solid red;
  flex-grow: 1;
  padding: 3rem 2.5rem;
  margin: 0;
  color: #157145;
}

/*---------------------- End of Community info section  -------------------------*/

/*--------------------------- Value info section  -------------------------------*/

.artValue {
  /* background-color: #bfb6bb; */
  border: 2px solid red;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.artValue h2 {
  display: flex;
  border: 2px solid yellow;
  width: 40%;
  justify-content: center;
  margin: 0;
  font-family: 'Island Moments', cursive;
  font-size: 50px;
}
.artValue p {
  border: 2px solid red;
  flex-grow: 1;
  padding: 3rem 2.5rem;
  margin: 0;
  color: #157145;
}

/*--------------------------- End of Value info section  -------------------------------*/

/*-------------------------------- Aside Section ----------------------------------------*/
.asideSec {
  /* background-color: #bfb6bb; */
  border: 2px solid red;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

#sidebar1 p {
  order: 1;
  /* flex-grow: 5; */
  padding: 1rem;
  margin: 0;
  border: 1px solid green;
}
#sidebar2 p {
  order: 3;
  padding: 1rem;
  margin: 0;
  border: 1px solid yellow;
}
#sidebar3 p {
  order: 2;
  padding: 1rem;
  margin: 0;
  border: 1px solid red;
}
/*-------------------------------- End of Aside Section ----------------------------------*/

/*--------------------------------- Footer Section ------------------------------------------*/

.footer {
  /* width: 1500px;
  height: 1400px; */
}

/*--------------------------------- End of Footer Section -------------------------------------*/
